<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNoActionBar">
        <activity
            android:name=".SlideViewGroupActivity"
            android:exported="false" />
        <activity
            android:name=".demo.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".demo.ButtonMenuActivity"
            android:exported="false" />
        <activity
            android:name=".interpolator.CustomInterpolatorActivity"
            android:exported="false" />
        <activity
            android:name=".interpolator.DefaultInterpolatorActivity"
            android:exported="false" />
        <activity
            android:name=".property.ValuesHolderActivity"
            android:exported="false" />
        <activity
            android:name=".demo.DemoAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".property.AnimatorSetActivity"
            android:exported="false" />
        <activity
            android:name=".property.ObjectPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".evaluator.EvaluatorActivity"
            android:exported="false" />
        <activity
            android:name=".interpolator.InterpolatorActivity"
            android:exported="false" />
        <activity
            android:name=".gesture.GestureActivity"
            android:exported="false" />
        <activity
            android:name=".property.ValuePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".game.GameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.ViewRotateActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewAlphaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewTranslateActivity"
            android:exported="false" />
        <activity
            android:name=".property.PropertyAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewScaleActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>